{% extends 'admin/dashboard.html' %}
{% block title %}
    Manage Questions
{% endblock %}
{% block crud %}
    <h2>Manage Questions</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Question Statement</th>
                <th>Correct Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{question.id}}</td>
                <td>{{ question.date_of_quiz}}</td>
                <td>{{question.correct_option}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}