{% extends 'admin/dashboard.html' %}
{% block title %}
    Manage Scores
{% endblock %}
{% block crud %}
    <h2>Manage Scores</h2>
    <a href="#">Add</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Total Scored</th>
                <th>TimeStamp</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td>{{score.id}}</td>
                <td>{{ score.total_scored}}</td>
                <td>{{subject.timestamp}}</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}